{
    "globals": {
      "jasmine": "readonly"
    },
    "ignorePatterns": [".eslintrc.js"],
    "overrides": [
        {
            "files": ["**/*.{js,ts}"],
            "rules": {
                "import/no-extraneous-dependencies": "off"
            }
        }
    ]
}
