{
  "root": true,
  "env": {
    "amd": true,
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "globalThis": false
  },
  "parserOptions": {
     "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript/base",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "warn", // @TODO: change this to "error"
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_" // tsc compatibility
      }
    ],
    "comma-dangle": "off",
    "implicit-arrow-linebreak": "off", // conflicts with prettier
    "import/prefer-default-export": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "prefer-rest-params": "off", // we need to use params
    "prettier/prettier": "error",
    // Overriden
    "camelcase": ["error", { "properties": "never", "allow": [ "W[0-9]+_"] }],
    "import/extensions": "off",
    "no-eval": "off",
    // @TODO - fix files to enable rules below this line
    "@typescript-eslint/no-shadow": "warn",
    "@typescript-eslint/no-use-before-define": "warn",
    "arrow-body-style": "warn",
    "dot-notation": "off",
    "func-names": "off",
    "guard-for-in": "off",
    "import/no-cycle": "warn",
    "import/no-mutable-exports": "off",
    "max-classes-per-file": "off",
    "no-cond-assign": "off",
    "no-continue": "off",
    "no-lonely-if": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-prototype-builtins": "off",
    "no-restricted-syntax": "off",
    "no-shadow": "warn",
    "no-unsafe-finally": "warn",
    "object-shorthand": "off",
    "one-var": "off",
    "prefer-arrow-callback": "warn",
    "prefer-destructuring": "off",
    "prefer-object-spread": "off",
    "prefer-spread": "off",
    "strict": "off",
    // Rules up for discussion
    "new-cap": "off",
    "no-multi-assign": "off"
    // TODOs - end
  }
}
